@model List<Product>
@{
}


@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="row" style="margin-top: 20px">
    @foreach (var item in Model)
    {
        <div class="card col-sm-1 col-md-3 co-lg-4 mx-3 shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
            <img width="100" height="170" class="shadow p-3 mb-5 bg-white rounded card-img-top" src="~/images/@item.Picture" />
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Category: @item.Category</li>
                <li class="list-group-item">Price: @item.FinalPrice</li>
                @if (item.PriceDiscounted is not 0)
                {
                    <li class="list-group-item">Discounted Price: @item.PriceDiscounted</li>
                }
            </ul>
        </div>
    }

</div>