@model WEBManagerZ.ViewModels.CartPageViewModel
@{

}


<div class="container">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="text-center col-sm-12 col-md-12 col-lg-12">
                <h2>Your Cart</h2>
            </div>

            <div class="text-center col-sm-12 col-md-12 col-lg-12">
                <p>
                    Price: @Model.CartPrice.ToString("N2")
                </p>
                <p>
                    Quantity: @Model.CartQuantity
                </p>
            </div>
            <div class="text-center col-sm-12 col-md-6 col-lg-6">
                <a class="btn btn-danger nav-link text-dark" asp-action="ClearCart">Clear Cart</a>
            </div>
            <div class="text-center col-sm-12 col-md-6 col-lg-6">
                @if (Model.CartQuantity == 0)
                {
                    <p>Cart empty!</p>
                }
                else
                {
                    <a class="btn btn-success nav-link text-dark" asp-controller="Order" asp-action="CreateOrder">Finalize Order</a>
                }
            </div>
        </div>
    </div>

    <div class="shadow p-3 mb-5 bg-white rounded">
        <table class="table">
            @foreach (var pvm in Model.CartItemViewModels)
            {
                <tbody>

                    <tr>
                        <th>
                            @pvm.Name
                        </th>
                        @if (pvm.DiscountExists)
                        {
                        <th>
                        Discounted Price: <span class="text-info">@pvm.PriceDiscounted.ToString("N2")</span>
                        
                        </th>
                        }
                        <th>
                            @pvm.Price.ToString("N2")
                        </th>
                        <th>
                            @pvm.Quantity
                        </th>
                        <th>
                            <a class="nav-link text-dark" asp-action="AddQuantity" asp-route-id="@pvm.Id"><i class="bi bi-plus-square"></i></a>
                        </th>
                        <th>
                            <a class="nav-link text-dark" asp-action="DeleteItem" asp-route-id="@pvm.Id"><i class="bi bi-trash"></i></a>
                        </th>

                    </tr>

                </tbody>
            }
        </table>
    </div>
</div>





