@model IEnumerable<WEBManagerZ.Models.Product>

@{
    ViewData["Title"] = "GetAllProducts";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<h1>GetAllProducts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalPrice)
                </td>
                <td>
                    <img src="~/images/@item.Picture" />
                </td>
                <td>
                    <a asp-action="AddToCart" asp-route-id="@item.Id">AddToCart</a>
                </td>
                @if (this.User.IsInRole("Admin"))
                {
                  <td>
                    <a asp-action="AddPicture" asp-route-id="@item.Id">Add Picture</a>
                  </td>
                }
                
            </tr>
        }
    </tbody>
</table>
